@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .break-balance {
    /* experiemntal property, but doesn't break anything if it doesn't apply */
    text-wrap: balance;
  }

  .webkit-truncate {
    /* if non-webkit brower, will truncate on line 1 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: var(--lines, 2);
    -webkit-box-orient: vertical;
  }
  .truncate-one {
    --lines: 1;
  }
}

body {
  background: radial-gradient(
      circle 650px at left 65% top 290px,
      #3abff830,
      transparent
    ),
    url("/img/noise.png");
}
